ul {
  margin: 0;
  padding: 0;
}

.admin-nav-container {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  padding: 20px;
}

.admin-nav-item {
  display: flex;
  background-color: #e7e7e7;
  border-radius: 100px;
  color: #9e9e9e;
  padding: 12px;
  list-style-type: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
}

.admin-nav-item.active {
  background: rgba(64, 123, 255, 0.3);
  color: rgba(64, 123, 255, 1);
}

.admin-nav-item:hover {
  color: rgba(64, 123, 255, 1);
}

@media (min-width: 600px) {
  .admin-nav-item {
    min-width: 150px;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .admin-nav-item {
    min-width: 200px;
    justify-content: center;
  }
}

@media (min-width: 1114px) {
  .admin-nav-container {
    flex-direction: column;
    /*ajusta altura com base no tamanho da tela , descontando a navBar*/
    height: calc(100vh - 60px);
    justify-content: flex-start;
    padding: 0px;
    background-color: #ffffff;
  }

  .admin-nav-item {
    justify-content: flex-start;
    align-items: center;
    width: 304px;
    height: 83px;
    padding-left: 40px;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 0px;
    color: #9e9e9e;
    border-bottom: 1px solid #e1e1e1;
  }
}
