.home-container {
  font-size: 16px;
  background-color: #f2f2f2;
  padding: 10px;
  /* height: 100%; */
  height: calc(100vh - 56px);
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  padding-bottom: 58px;
}

.home-card-content-container {
  width: 280px;
}

.home-card-content-container h1 {
  font-size: 1.5em;
  color: #263238;
  margin-top: 40px;
}

.home-card-content-container p {
  font-size: 1em;
  color: #9e9e9e;
  margin-top: 15px;
}

.home-card-image-container {
  width: 100%;
  margin-top: 50px;
}

.home-card-content-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .home-container {
    font-size: 20px;
    padding: 20px;
  }

  .home-card {
    padding-bottom: 120px;
  }

  .home-card-content-container {
    width: 400px;
  }
}

@media (min-width: 992px) {
  .home-container {
    font-size: 24px;
  }

  .home-card-content-container a {
    font-size: 24px;
  }

  .home-card-content-container p {
    font-size: 20px;
  }

  .home-card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 720px;
  }

  .home-card-content-container {
    width: 406px;
    text-align: start;
    margin-top: 100px;
    margin-left: 80px;
  }

  .home-card-image-container {
    width: 648px;
    margin-top: 160px;
  }

  .home-card-content-btn {
    justify-content: start;
  }
  
}
