.nav-container {
  /* padding: 20px; */
}

.nav-logo-text h4 {
  /* margin-left: 20px; */
  font-size: 18px;
  color: #ffffff;
}

.nav-menu-container {
  display: flex;
  /* width: 380px; */
  /* justify-content: space-around; */
}

#dscatalog-navbar.colapsing {
  /* position: absolute; */
}

.active {
  font-weight: bold;
}

.nav-menu-container li {
  margin: 30px 15px 15px 15px;
  /* margin: 15px; */
}

.nav-menu-container a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  /* margin: 15px; */
}

.nav-menu-container a.active {
  color: #ffffff;
  font-size: 18px;
}
