.nav-container {
  padding: 20px;
}

.nav-logo-text {
  margin-left: 20px;
  color: #ffffff;
}

.nav-menu-container {
  width: 380px;
  justify-content: space-around;
}
.active {
  font-weight: bold;
}

.nav-menu-container a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.nav-menu-container a.active {
  color: #ffffff;
  font-size: 18px;
}
