.product-details-text h2 {
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .product-details-text {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .product-details-text {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
  .product-details-text {
    display: flex;
    flex-direction: column;
  }
}
